@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

* {
    color: white;
}

h1,
label {
    color: black;
}

.card-design {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    box-shadow: -1px 8px 58px -13px rgba(0, 0, 0, 0.20);
    border-radius: 15px;
    width: 30rem;
    height: 20rem;
}

.card-design:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.nama {
    font-size: 40px;
    font-weight: bold;
}

.alamat {
    font-size: 30px;
    font-weight: normal;
}

.nomor {
    font-size: 20px;
    font-weight: normal;
}