h1 {
    color: blue;
    font-size: 100px;
    margin: 0px 12px;
    padding: 0px 12px 24px;
}

.header {
    margin: 0;
    box-shadow: -2px -1px 41px -2px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: -2px -1px 41px -2px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: -2px -1px 41px -2px rgba(0, 0, 0, 0.39);
    margin-bottom: 24px;
}

.card {
    padding: 12px 24px;
    border-color: black;
    border-radius: 12px;
    border: solid;
    margin: 24px;
    width: 400px;
    align-self: center;
    display: flex;
    justify-content: space-between;
}

.containerCard {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
}